@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Playfair Display', serif;
    background-color: #206c71;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    font-family: 'Playfair Display', serif;
}
.col-4 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.col-4 .caption {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    font-family: 'Playfair Display', serif;
    background-color: #206c71;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}